body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'OldStandardTT' , sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, lightskyblue,lightcoral,lightpink );

}

section{
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

h3{
    font-family: "Bodoni MT";
    font-size:2rem ;
    font-weight: 600;
    text-align: center;
}

h4{
    font-family: "Baguet Script";
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

/* create to do input*/

#content {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem ;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    border: double black 4px;

}

#due-date{
    border-radius: 6px;
    border: double black 4px;
    background-color: rgb(209, 134, 247);

}

/* option */

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
    font-size: larger;
}

#option-label1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius:0.5rem ;
    border: double black 4px;
    cursor: pointer;
}

#option-label2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius:0.5rem ;
    border: double black 4px;
    cursor: pointer;
}

input[type="radio"],input[type="checkbox"] {
    display: none;
}

.bubble-work{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgb(255, 90, 117);
}

.bubble-personal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgb(29, 168, 255);
}
 
.bubble-work::after {
    content: "";
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: rgb(123, 21, 38);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.bubble-personal::after {
    content: "";
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: rgb(5, 66, 90);
    border-radius: 50%;
    transition: 0.2s ease-in-out;   
}

input:checked ~ .bubble-work::after {
    width:10px;
    height: 10px;
    opacity: 1;
}
 
/* to do submit*/

.create-todo input[type=submit] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: rgb(0, 0, 0);
    background-color: rgb(209, 134, 247);
    border-radius: 0.5rem;
    border: double black 4px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.create-todo input[type="submit"]:hover {
    opacity: 0.75;
}

/*To do Item*/

.todo-list .list {
    margin: 1rem 0;
}

.todo-list .todo-item{
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    border: double black 4px;
    margin-bottom: 1rem;
}

.todo-item label {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-item .todo-content {
    flex: 1 1 0%;
}

.todo-item .todo-content input {
    color: black;
    font-size: 1.125rem;
    background: pink;
    border: double black 4px;
    border-radius: 0.25rem;
}

/*buttons*/

.todo-item .actions{
    display: flex;
    align-items: center;
}

.todo-item .actions button {
    display: block;
    padding: 0.5rem;
    border-radius: 0.25 rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
    opacity: 0.75;
}

.todo-item .actions .edit {
    margin-right: 0.5rem;
    border-radius: 0.25rem;
    border: double black 4px;
    background-color: cadetblue;
}

.todo-item .actions .delete {
    background-color: rgb(128, 0, 96);
    border-radius: 0.25rem;
    border: double black 4px;
}